.poem-page
  .poet
    margin-bottom 3.2rem
    position sticky
    top 4rem

.poet
  display block
  .poet__img
    border-radius 50%
    overflow hidden
    circle(8rem)
    margin-bottom 1.6rem
    img
      display block
      max-width 100%
  &__first-name
    font-family $font-secondary
    font-size 2.4rem
    font-style italic
    font-weight 700
    margin-bottom .6rem
    transition all .2s ease
  &__second-name
    color $gray
    font-family $font-secondary
    font-style italic
  &:hover
    .poet
      &__first-name
        color $primary

.poem
  p
    font-family $font-secondary
    font-style italic
    font-size 2.4rem
    line-height 1.5
    margin-bottom 2.4rem

.popular
  margin-bottom 3.2rem
  position sticky
  top 4rem
  &__link
    color $gray
    display block
    font-size 1.2rem
    margin-bottom 1.6rem
    &--active
      color $main
      font-weight 700

.text
  margin-bottom 2.4rem
  &__label
    color $gray